<div id="signup-page">
  <h1>M'inscrire</h1>

  <div class="signup-form">
    <form action="/signup" method="POST">
    <div>
      <label> Civilité </label>
        <select id="civilite">
          <option value="Monsieur" name="civilite">Monsieur</option>
          <option value="Madame" name="civilite">Madame</option>
      </select>
     
      
    </div>
    <div>
      <label>Prénom</label>
      <input type="text" name="firstname" placeholder="Prénom" />
    </div>
    <div>
      <label>Nom</label>
        <input type="text" name="lastname" placeholder="Nom" />
    </div>
    <div>
      <label>Email</label>
      <input type="text" id="input-email" name="email" placeholder="Email" />
    </div>
    <div>
      <label>Password</label>
        <input type="password" name="passwordHash" id="input-password" placeholder="********" />
    </div>
    <div>
      <button>CREER UN COMPTE</button>
    </div>
      {{!-- error message will be added here --}}
      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

</div>