<div id="signup-page">
  <h1>M'inscrire</h1>

  <div class="signup-form">
    <form action="/signup" method="POST">
    <div>
      <label>Civilité</label>
        <select name="civilite">
          <option value="">-- Sélectionner --</option>
          <option value="Monsieur">Monsieur</option>
          <option value="Madame">Madame</option>
      </select> 
    </div>

    <div>
      <label>Prénom</label>
      <input type="text" name="firstname" placeholder="Prénom" />
    </div>
    <div>
      <label>Nom</label>
        <input type="text" name="lastname" placeholder="Nom" />
    </div>
    <div>
      <label>Email</label>
      <input type="text" id="input-email" name="email" placeholder="Email" />
    </div>
    <div>
      <label>Password</label>
        <input type="password" name="passwordHash" id="input-password" placeholder="********" />
    </div>
    <div>
      <button>CRÉER UN COMPTE</button>
    </div>
      
      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

</div>