<div id="welcome-tuto">
    <h1>Bienvenue</h1>

    {{!-- <video src="exemple.webm" width="375" height="280" controls></video> --}}



    <video controls width="800" height="500">

        <source src="/video/finaltuto.mp4"
                type="video/mp4">

    </video>

    <p>Vous n'arrivez pas à lire la vidéo ?
        Cliquez <a href="https://explee.com/fr/video/0rp3g6d" target="_blank"><u>ici</u></a>.</p>

</div>