<div class ="business-confirm">
  <div class ="popin">
    <span>Votre demande a été prise en compte, vous serez contacté très prochainement. Merci pour votre interêt.</span>
    
    <span class= "close">
         <a href="/"><img src="https://fonts.gstatic.com/s/i/materialicons/close/v8/24px.svg?download=true" alt="cross"></a>  
      </span>
  </div>
</div>