*, :before, :after {
  box-sizing: border-box; }

/*Nos polices
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
/* creer les variables couleurs */
:root {
  --gold: #EEAB00;
  --light-grey: #FDFDFD;
  --medium-grey: #c4c4c4;
  --black-button: #3C3C3C; }

body {
  margin: 0;
  background-color: #FDFDFD;
  font-family: 'Roboto', sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-family: 'Montserrat', sans-serif; }

h2 {
  font-family: 'Montserrat', sans-serif; }

h3 {
  font-family: 'Montserrat', sans-serif; }

/*
##    ##    ###    ##     ## ########     ###    ########  
###   ##   ## ##   ##     ## ##     ##   ## ##   ##     ## 
####  ##  ##   ##  ##     ## ##     ##  ##   ##  ##     ## 
## ## ## ##     ## ##     ## ########  ##     ## ########  
##  #### #########  ##   ##  ##     ## ######### ##   ##   
##   ### ##     ##   ## ##   ##     ## ##     ## ##    ##  
##    ## ##     ##    ###    ########  ##     ## ##     ## 
*/
.navbar-container {
  background: white;
  color: var(--black-button);
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0.5px 0.5px 2px #B5B5B5; }

#to-left {
  font-size: 18px; }

.navbar-container a:hover {
  color: var(--gold); }

#to-right {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto; }

#to-right button:hover {
  color: var(--gold); }

nav div:nth-child(1) {
  margin-right: 20px; }

nav div:nth-child(2) {
  margin-right: 20px; }

#to-right button {
  border: none;
  padding: 0 0 0 0;
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px; }

/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/
footer {
  padding-bottom: 30px;
  background: white; }

footer h3 {
  text-align: center; }

.lign-footer {
  border-bottom: 1px solid var(--medium-grey); }

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none; }

footer li {
  padding-right: 30px; }

/*
##     ##  #######  ##     ## ######## ########     ###     ######   ######## 
##     ## ##     ## ###   ### ##       ##     ##   ## ##   ##    ##  ##       
##     ## ##     ## #### #### ##       ##     ##  ##   ##  ##        ##       
######### ##     ## ## ### ## ######   ########  ##     ## ##   #### ######   
##     ## ##     ## ##     ## ##       ##        ######### ##    ##  ##       
##     ## ##     ## ##     ## ##       ##        ##     ## ##    ##  ##       
##     ##  #######  ##     ## ######## ##        ##     ##  ######   ########
*/
.homepage-container {
  display: flex;
  flex-direction: column; }

#homepage-premiere-div {
  margin-top: 3px;
  padding-bottom: 1000px;
  background-image: url(https://images.unsplash.com/photo-1492176273113-2d51f47b23b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; }

#homepage-premiere-div h1 {
  padding-top: 200px;
  font-size: 40px;
  text-align: center;
  width: 1400px; }

#homepage-premiere-div h3 {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 18px;
  width: 450px;
  text-align: center; }

#homepage-premiere-div p {
  font-style: bold; }

#homepage-deuxieme-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px; }

#homepage-deuxieme-div h2 {
  padding-top: 100px;
  font-size: 45px;
  text-align: center;
  margin-bottom: 100px; }

#homepage-deuxieme-div img {
  width: 560px;
  height: 380px;
  object-fit: cover;
  margin-bottom: 100px; }

#homepage-troisieme-lastdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px; }

#homepage-troisieme-lastdiv p {
  font-size: 20px;
  margin-right: 50px; }

.homepage-container button {
  border: none;
  padding: 20px 55px 20px 55px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--gold);
  color: white;
  font-size: 16px;
  font-weight: bold; }

#button-business {
  border: none;
  padding: 20px 70px 20px 70px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: grey;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; }

/*
##     ## ##    ##    ########  ########     ###    ##    ## ########   ######  
###   ###  ##  ##     ##     ## ##     ##   ## ##   ###   ## ##     ## ##    ## 
#### ####   ####      ##     ## ##     ##  ##   ##  ####  ## ##     ## ##       
## ### ##    ##       ########  ########  ##     ## ## ## ## ##     ##  ######  
##     ##    ##       ##     ## ##   ##   ######### ##  #### ##     ##       ## 
##     ##    ##       ##     ## ##    ##  ##     ## ##   ### ##     ## ##    ## 
##     ##    ##       ########  ##     ## ##     ## ##    ## ########   ######  
*/
#mybrands-entete {
  display: flex;
  justify-content: center;
  padding-top: 150px; }

#mybrands-entete h1 {
  margin-right: 730px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px; }

#mybrands-entete button {
  border: none;
  padding: 10px 50px 10px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

#mybrands-img {
  display: flex;
  justify-content: left;
  margin-left: 310px;
  width: 1350px;
  flex-wrap: wrap;
  padding-top: 150px;
  padding-bottom: 100vh; }

#logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px; }

/*
######  ####  ######   ##    ##    ##     ## ########  
##    ##  ##  ##    ##  ###   ##    ##     ## ##     ## 
##        ##  ##        ####  ##    ##     ## ##     ## 
 ######   ##  ##   #### ## ## ##    ##     ## ########  
      ##  ##  ##    ##  ##  ####    ##     ## ##        
##    ##  ##  ##    ##  ##   ###    ##     ## ##        
 ######  ####  ######   ##    ##     #######  ##
 */
#signup-page {
  text-align: center;
  margin-top: 100px;
  height: 800px;
  font-size: 15px; }

#signup-page h1 {
  text-align: center;
  padding-bottom: 50px; }

.signup-form div {
  padding: 10px 600px 10px 600px; }

.signup-form label {
  display: block;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
  padding-left: 2px;
  text-align: left;
  color: black;
  font-weight: bold; }

.signup-form select {
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: #E9E9E9;
  border-style: none; }

.signup-form select > option:hover {
  background-color: #ECCC8D; }

.signup-form label + input {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
  background-color: #E9E9E9;
  border-style: none; }

.signup-form input:hover {
  background-color: #ECCC8D; }

.signup-form input:focus {
  color: --var(--black-button);
  background-color: #ECCC8D; }

.signup-form button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

#signup-page p {
  text-align: center;
  font-weight: bold;
  color: red; }

/*
##        #######   ######   #### ##    ## 
##       ##     ## ##    ##   ##  ###   ## 
##       ##     ## ##         ##  ####  ## 
##       ##     ## ##   ####  ##  ## ## ## 
##       ##     ## ##    ##   ##  ##  #### 
##       ##     ## ##    ##   ##  ##   ### 
########  #######   ######   #### ##    ## 
*/
#login-page {
  text-align: center;
  margin-top: 100px;
  height: 800px;
  font-size: 15px; }

#login-page h1 {
  padding-bottom: 50px; }

#login-page div {
  padding: 10px 700px 10px 700px; }

.login-form label {
  display: block;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
  padding-left: 2px;
  text-align: left;
  color: black;
  font-weight: bold; }

.login-form label + input {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
  background-color: #E9E9E9;
  border-style: none;
  margin-bottom: 20px; }

.login-form input:hover {
  background-color: #ECCC8D; }

.login-form input:focus {
  color: --var(--black-button);
  background-color: #ECCC8D; }

.login-form button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

#login-page p {
  text-align: center;
  font-weight: bold;
  color: red; }

/*
##     ## ##    ##    ########  ########   #######  ######## #### ##       
###   ###  ##  ##     ##     ## ##     ## ##     ## ##        ##  ##       
#### ####   ####      ##     ## ##     ## ##     ## ##        ##  ##       
## ### ##    ##       ########  ########  ##     ## ######    ##  ##       
##     ##    ##       ##        ##   ##   ##     ## ##        ##  ##       
##     ##    ##       ##        ##    ##  ##     ## ##        ##  ##       
##     ##    ##       ##        ##     ##  #######  ##       #### ######## 
*/
#profil-page {
  text-align: center;
  margin-top: 100px;
  height: 800px;
  font-size: 15px; }

#profil-page h1 {
  padding-bottom: 50px; }

#profil-page h4 {
  margin-bottom: 70px; }

.editprofil-form {
  padding: 10px 740px 10px 740px; }

.editprofil-form label {
  display: block;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
  padding-left: 2px;
  text-align: left;
  color: black;
  font-weight: bold; }

.editprofil-form label + input {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
  background-color: #E9E9E9;
  border-style: none;
  margin-bottom: 20px; }

.editprofil-form input:hover {
  background-color: #ECCC8D; }

.editprofil-form input:focus {
  color: --var(--black-button);
  background-color: #ECCC8D; }

.editprofil-form button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

#profil-page a {
  font-size: 12px; }

.edit-confirm {
  color: var(--gold);
  font-weight: bold;
  margin-bottom: 150px; }

.profil-delete button {
  border: none;
  background-color: var(--light-grey); }

/*
######## ##     ## ########  #######  
   ##    ##     ##    ##    ##     ## 
   ##    ##     ##    ##    ##     ## 
   ##    ##     ##    ##    ##     ## 
   ##    ##     ##    ##    ##     ## 
   ##    ##     ##    ##    ##     ## 
   ##     #######     ##     #######  
*/
#welcome-tuto {
  text-align: center;
  margin-top: 100px;
  height: 800px;
  font-size: 15px; }

#welcome-tuto h1 {
  margin-bottom: 100px; }

/*
########  ########     ###    ##    ## ########        ###    ########  ########  
##     ## ##     ##   ## ##   ###   ## ##     ##      ## ##   ##     ## ##     ## 
##     ## ##     ##  ##   ##  ####  ## ##     ##     ##   ##  ##     ## ##     ## 
########  ########  ##     ## ## ## ## ##     ##    ##     ## ##     ## ##     ## 
##     ## ##   ##   ######### ##  #### ##     ##    ######### ##     ## ##     ## 
##     ## ##    ##  ##     ## ##   ### ##     ##    ##     ## ##     ## ##     ## 
########  ##     ## ##     ## ##    ## ########     ##     ## ########  ########  
*/
#brand-add {
  text-align: center;
  margin-top: 100px;
  height: 1000px;
  font-size: 15px; }

#brand-add h1 {
  padding-bottom: 50px; }

#brand-add div {
  padding: 10px 700px 10px 700px; }

.addbrand-form select {
  width: 100%;
  height: 500px;
  font-size: 15px;
  background-color: #E9E9E9;
  border-style: none; }

.addbrand-form option {
  padding: 20px 30px 10px 20px; }

.addbrand-form button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

#brand-add button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

#brand-add p {
  text-align: center;
  font-weight: bold;
  color: red; }

/*
########  ########     ###    ##    ## ########     ########  ######## ########    ###    #### ##        ######  
##     ## ##     ##   ## ##   ###   ## ##     ##    ##     ## ##          ##      ## ##    ##  ##       ##    ## 
##     ## ##     ##  ##   ##  ####  ## ##     ##    ##     ## ##          ##     ##   ##   ##  ##       ##       
########  ########  ##     ## ## ## ## ##     ##    ##     ## ######      ##    ##     ##  ##  ##        ######  
##     ## ##   ##   ######### ##  #### ##     ##    ##     ## ##          ##    #########  ##  ##             ## 
##     ## ##    ##  ##     ## ##   ### ##     ##    ##     ## ##          ##    ##     ##  ##  ##       ##    ## 
########  ##     ## ##     ## ##    ## ########     ########  ########    ##    ##     ## #### ########  ######  
*/
#brand-detail {
  text-align: center;
  margin-top: 100px;
  height: 800px;
  font-size: 15px; }

#brand-detail h1 {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--medium-grey);
  width: 700px; }

.logo-detail {
  height: 400px; }

.logodetail-img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.logodetail-img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

#brand-detail h2 {
  margin-top: 30px; }

#brand-detail button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

#brand-detail deletebrand-button {
  color: red; }

/*
########  ##     ##  ######  #### ##    ## ########  ######   ######      ######   #######  ##    ## ########    ###     ######  ######## 
##     ## ##     ## ##    ##  ##  ###   ## ##       ##    ## ##    ##    ##    ## ##     ## ###   ##    ##      ## ##   ##    ##    ##    
##     ## ##     ## ##        ##  ####  ## ##       ##       ##          ##       ##     ## ####  ##    ##     ##   ##  ##          ##    
########  ##     ##  ######   ##  ## ## ## ######    ######   ######     ##       ##     ## ## ## ##    ##    ##     ## ##          ##    
##     ## ##     ##       ##  ##  ##  #### ##             ##       ##    ##       ##     ## ##  ####    ##    ######### ##          ##    
##     ## ##     ## ##    ##  ##  ##   ### ##       ##    ## ##    ##    ##    ## ##     ## ##   ###    ##    ##     ## ##    ##    ##    
########   #######   ######  #### ##    ## ########  ######   ######      ######   #######  ##    ##    ##    ##     ##  ######     ##    
*/
#business-contact {
  text-align: center;
  margin-top: 100px;
  height: 1000px;
  font-size: 15px; }

#business-contact h1 {
  text-align: center;
  padding-bottom: 50px; }

#business-contact div {
  padding: 10px 550px 10px 550px; }

.business-form label {
  display: block;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
  padding-left: 2px;
  text-align: left;
  color: black;
  font-weight: bold; }

.business-form select {
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: #E9E9E9;
  border-style: none;
  margin-bottom: 20px; }

.business-form label + input {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
  background-color: #E9E9E9;
  border-style: none;
  margin-bottom: 20px; }

.business-form input:hover {
  background-color: #ECCC8D; }

.business-form input:focus {
  color: --var(--black-button);
  background-color: #ECCC8D; }

.business-form button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

#business-contact p {
  text-align: center;
  font-weight: bold;
  color: red; }

/*
########  ##     ##  ######  #### ##    ## ########  ######   ######      ######   #######  ##    ## ######## #### ########  ##     ##    ###    ######## ####  #######  ##    ## 
##     ## ##     ## ##    ##  ##  ###   ## ##       ##    ## ##    ##    ##    ## ##     ## ###   ## ##        ##  ##     ## ###   ###   ## ##      ##     ##  ##     ## ###   ## 
##     ## ##     ## ##        ##  ####  ## ##       ##       ##          ##       ##     ## ####  ## ##        ##  ##     ## #### ####  ##   ##     ##     ##  ##     ## ####  ## 
########  ##     ##  ######   ##  ## ## ## ######    ######   ######     ##       ##     ## ## ## ## ######    ##  ########  ## ### ## ##     ##    ##     ##  ##     ## ## ## ## 
##     ## ##     ##       ##  ##  ##  #### ##             ##       ##    ##       ##     ## ##  #### ##        ##  ##   ##   ##     ## #########    ##     ##  ##     ## ##  #### 
##     ## ##     ## ##    ##  ##  ##   ### ##       ##    ## ##    ##    ##    ## ##     ## ##   ### ##        ##  ##    ##  ##     ## ##     ##    ##     ##  ##     ## ##   ### 
########   #######   ######  #### ##    ## ########  ######   ######      ######   #######  ##    ## ##       #### ##     ## ##     ## ##     ##    ##    ####  #######  ##    ## 
*/
#business-confirm {
  text-align: center;
  margin-top: 100px;
  height: 1000px;
  font-size: 15px; }

#business-confirm h1 {
  text-align: center;
  padding-bottom: 50px; }

#business-confirm div {
  padding: 10px 550px 10px 550px; }

.businessconfirm-form label {
  display: block;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
  padding-left: 2px;
  text-align: left;
  color: black;
  font-weight: bold; }

.businessconfirm-form select {
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: #E9E9E9;
  border-style: none;
  margin-bottom: 20px; }

.businessconfirm-form label + input {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
  background-color: #E9E9E9;
  border-style: none;
  margin-bottom: 20px; }

.businessconfirm-form button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

.msg-confirmation {
  height: 300px;
  width: 100px;
  position: absolute; }

/*
########    ###     #######  
##         ## ##   ##     ## 
##        ##   ##  ##     ## 
######   ##     ## ##     ## 
##       ######### ##  ## ## 
##       ##     ## ##    ##  
##       ##     ##  ##### ## 
*/
#faq {
  text-align: center;
  margin-top: 100px;
  height: 1000px; }

#faq h1 {
  font-size: 45px; }

#faq img {
  width: 580px;
  height: 580px; }

#faq button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

/*
 ######   ######   ##     ## 
##    ## ##    ##  ##     ## 
##       ##        ##     ## 
##       ##   #### ##     ## 
##       ##    ##   ##   ##  
##    ## ##    ##    ## ##   
 ######   ######      ###    
 */
#cgv {
  text-align: center;
  margin-top: 100px;
  height: 1000px; }

#cgv h1 {
  font-size: 45px; }

#cgv img {
  width: 580px;
  height: 580px; }

#cgv button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

/*
 ######   #######  ##    ## ######## #### ########  ######## ##    ## ######## ####    ###    ##       #### ######## ######## 
##    ## ##     ## ###   ## ##        ##  ##     ## ##       ###   ##    ##     ##    ## ##   ##        ##     ##    ##       
##       ##     ## ####  ## ##        ##  ##     ## ##       ####  ##    ##     ##   ##   ##  ##        ##     ##    ##       
##       ##     ## ## ## ## ######    ##  ##     ## ######   ## ## ##    ##     ##  ##     ## ##        ##     ##    ######   
##       ##     ## ##  #### ##        ##  ##     ## ##       ##  ####    ##     ##  ######### ##        ##     ##    ##       
##    ## ##     ## ##   ### ##        ##  ##     ## ##       ##   ###    ##     ##  ##     ## ##        ##     ##    ##       
 ######   #######  ##    ## ##       #### ########  ######## ##    ##    ##    #### ##     ## ######## ####    ##    ######## 
 */
#confidentialite {
  text-align: center;
  margin-top: 100px;
  height: 1000px; }

#confidentialite h1 {
  font-size: 45px; }

#confidentialite img {
  width: 580px;
  height: 580px; }

#confidentialite button {
  margin-top: 60px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

/*
 ######   #######  ##    ## ########    ###     ######  ######## 
##    ## ##     ## ###   ##    ##      ## ##   ##    ##    ##    
##       ##     ## ####  ##    ##     ##   ##  ##          ##    
##       ##     ## ## ## ##    ##    ##     ## ##          ##    
##       ##     ## ##  ####    ##    ######### ##          ##    
##    ## ##     ## ##   ###    ##    ##     ## ##    ##    ##    
 ######   #######  ##    ##    ##    ##     ##  ######     ##    
 */
#contact {
  text-align: center;
  margin-top: 100px;
  height: 800px; }

#contact h1 {
  font-size: 45px; }

#contact h3 {
  margin-top: 100px; }

#contact button {
  margin-top: 400px;
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: var(--black-button);
  color: white;
  font-size: 13px; }

/*# sourceMappingURL=style.css.map */