<div id="brand-add">
  
  <h1>Ajouter une nouvelle marque</h1>
  
  <div class="addbrand-form">
    <form action="/brand-add" method="POST">
    <label>
      <select name="brandname" multiple>
      {{#each brands}}
      <option value="{{id}}" {{#if infavorite}}selected{{/if}}>{{brandname}}</option>
      {{/each}}
      </select>
    </label>
    <button>AJOUTER</button>
    </form>
  </div>
  
  
  <button><a href="/mybrands">RETOUR VERS MES MARQUES </a></button>
  
</div>