<div class="brand-add">
  <div id="brand-add-title">
    <h1>Ajouter une nouvelle marque</h1>
  </div>
  <form action="/brand-add" method="POST">
  <label>
    <select name="brandname" multiple>
      {{#each brands}}
        <option value="{{id}}" {{#if this.infavorite}}selected{{/if}}>{{brandname}}</option>
      {{/each}}
    </select>
    </label>
  <button>ADD</button>
</form>
<button><a href="/mybrands">RETOUR VERS MES MARQUES </a></button>
</div>