<div class="my-brands">
  <div id="mybrands-entete">
    <h1>MES MARQUES</h1>
    <button><a href="/brand-add">+ AJOUTER UNE MARQUE</a></button>
  </div>

  <div id="img-brand">
    <ul>
    {{#each brands}}
      <li>
        <div>
          <img src="{{logoUrl}}">
          <div>
            <div>{{brandname}}</div>
          </div>
        </div>
      </li>
    {{/each}}
    </ul>
  </div>

</div>