<div class="my-brands">
  <div id="mybrands-entete">
    <h1>Mes marques</h1>
    <button><a href="/brand-add">+ AJOUTER UNE MARQUE</a></button>
  </div>

  <div id="mybrands-img">
    
    {{#each brands }}
      <div><img id="logo" src="{{logoUrl}}"></div>
      <div>{{brandname}}</div> 
      

      
    {{/each}}
    
  </div>

</div>